body  {
              margin: 0 auto;
              width: 80%;
              max-width: 800px;
              font-family: "proxima_nova","Helvetica Neue","Helvetica","Arial",sans-serif;
              background-color: ##F4F7F8;
          }
          a {
            text-decoration: none;
            cursor: pointer;
          }

          h2 {
            font-size: 1.2em;
          }

          .container {
            width: 100%;
            height: cal(100% - 10px);
            background-color: #DDE4E9;
            padding: 0;
          }

          .content {
            width: 100%;
          }

          .content.skills {
            width: 33%;
          }

          .box-content {
            width: 240px;
            float: left;
            margin: 0 5px 20px 5px;
            padding: 0 3px;
          }

          header{
            text-align: center;
            text-decoration: none;
            line-height: 1;
          }

          header nav {
              margin: 0 0 10px 0;
              overflow: hidden;
          }

          header nav ul{
              margin: 0;
              padding: 0;
          }
          header nav ul li {
              display: inline-block;
              list-style-type: none;
          }

          header nav > ul > li {
            width: 100px;
            border-bottom: 2px solid #afcace;
            margin-bottom: 20px;
          }
          header nav > ul > li > a {
              color: #000;
              display: block;
              line-height: 2em;
              padding: 0.5em 0.5em;
              text-decoration: none;
          }

          header nav > ul > li > a:hover {
              color: #fff;
          }

          img#me{
            border-radius: 70%;
            opacity: 0.5;
            height: 125px;
            width: auto;
          }

          dl {
            margin: 0;
            padding: 0;
          }
          dt {
            font-size: 1em;
            font-weight: bold;
            margin: .5em 0 0 0;
            padding: 0;
          }
          dd {
            font-size: 0.8em;
            display: list-item;
            list-style: none;
            margin: 0 0 0 2em;
            padding: .5em;
          }

          footer {
            text-align: center;
            width: 100%;
            background-color: #FFBB00;
            margin: 0 auto;
          }
          .footer-links a {
              padding-left: 30px;
          }

          /*aux*/
          .clearfix:before, .clearfix:after {
            display: table;
            content: "";
            clear: both;
          }
          .hide{
            display: none;
          }
          .fix-height {
            margin-top: -150px;
          }
          .yellow {
            background-color: yellow;
          }
          .green {
            background-color: #95D641;
          }
          .blue {
            background-color: #3FC3FF;
          }
          .orange {
            background-color: #FF6D3F;
          }